/* Styles for the modal container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
    border-radius: 2px;
    box-shadow: 5px 5px 5px grey;
    overflow: auto;
}

/* Styles for the modal content */
.modal-content {
    min-width: 16rem;
    max-height: 75%;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .meanings-container {
        overflow-y: auto;
        height: calc(100% - 100px);
        margin-bottom: 8px;
        .part-of-speech {
            padding: 8px;
            margin-bottom: 8px;
        }

        .part-of-speech:nth-child(odd) {
            background-color: rgb(230, 230, 230);
        }

        .part-of-speech:nth-child(even) {
            background-color: rgb(238, 238, 238);
        }
    }


}

/* Styles for the close button */
.close {
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: end;

    button {
        width: 4.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
}