<ng-container *ngIf="wordMeaning">
    <div class="modal">

        <div class="modal-content">
            <h2>{{ wordMeaning.word }} </h2>

            <div class="part-of-speech" *ngFor="let meaning of wordMeaning.meanings">
                <p> [{{ meaning.partOfSpeech }}] </p>
                <div  *ngFor="let definition of meaning.definitions">
                    <p><strong>Def: </strong>{{ definition.definition }}</p>
                    <p *ngIf="definition?.example"><strong>Example: </strong>{{ definition.example }}</p>
                </div>
            </div>            
        </div>
        <span class="close" id="closeModalBtn" (click)="onClickCloseModal()">&times;</span>
    </div>
</ng-container>