:root {
    // --cell-size: 6rem;
    cursor: none;
}

$CELL-SIZE: 3.5rem;
$FONT-SIZE: 2.5rem;

.cell-active {
    border-radius: 5px;
    border: 2px solid green;
    width: $CELL-SIZE;
    height: $CELL-SIZE;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.cell-locked {
    cursor: default;
    border-radius: 5px;
    width: $CELL-SIZE;
    height: $CELL-SIZE;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cell-not-active {
    border-radius: 5px;
    width: $CELL-SIZE;
    height: $CELL-SIZE;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.cell-text {
    font-size: $FONT-SIZE;
    font-family: monospace;
    margin: 0px;
    cursor: pointer;
}

input {
    width: $CELL-SIZE;
    height: $CELL-SIZE;
    border: 0px;
    font-size: $FONT-SIZE;
    font-family: monospace;
    color: black;
    cursor: pointer;
    text-align: center;
    caret-color: transparent;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}