:root {
    --cell-size: 100px;
}

.cell-active{
    border-radius: 5px;
    border: 2px solid green;
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.cell-locked{
    cursor: default;
    border-radius: 5px;
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: white;
    }
}



.cell-not-active{
    border-radius: 5px;
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.cell-text{
    font-size: 90px;
    font-family: monospace;
    margin: 0px;
    cursor: pointer;
}

div[tabindex]:focus {
    outline: none;
}