<div class="board" [ngStyle]="{'grid-template-columns':gridSize}">
    <ng-container *ngFor="let row of board; index as i">
        <ng-container *ngFor="let cell of row; index as j">
            <div class="cell">
                <app-cell (click)="onCellClick( i, j)" [cellInfo]="board[i][j]" (cellValueChange)="onCellValueChange($event, i, j)">
                </app-cell>
            </div>
        </ng-container>
    </ng-container>
</div>

<div  class="failure-info">
    <ng-container *ngIf="failureReason !== ''">
    <p class="failure-detail">{{ failureDetail }}</p>
    <button class="meaning-btn" *ngIf="failureReason === 'wordExists'" (click)="onClickSeeMeaning()">See meaning</button>
    </ng-container>
</div>

<div class="result-container">
    <p class="result-status"> {{ solveStatus }} </p> 
</div>

<div>
    <button class="restart-btn" (click)="onClickRestart()" >
        Restart
    </button>
</div>

<app-word-meaning [wordMeaning]="wordMeaning" (closeModal)="onCloseModal()"> </app-word-meaning>
